__pycache__/
.pytest_cache/
.workflow/scripts/__pycache__/
.workflow/outputs/**
!.workflow/outputs/plan/
!.workflow/outputs/plan/.gitkeep
!.workflow/outputs/run/
!.workflow/outputs/run/.gitkeep
.workflow/tasks/feature/*.md
.workflow/tasks/qa/*.md
!.workflow/tasks/feature/_template.md
!.workflow/tasks/qa/_template.md
